@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-heading: var(--font-nunito);
  --font-sans: var(--font-dm-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}

@keyframes bounce-with-pause {
  0%,
  12.5% {
    transform: translateY(0);
  }
  6.25% {
    transform: translateY(-25%);
  }
  12.5%,
  100% {
    transform: translateY(0);
  }
}

.animate-bounce-with-pause {
  animation: bounce-with-pause 4s ease-in-out infinite;
}
